.row {
    color: white;
    margin-left: 20px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_poster {
    width: 100%;
    max-height: 200px;
    margin-right: 10px;
    object-fit: contain;
    transition: transform 450ms;
}

.row_poster_large {
    width: 100%;
    max-height: 300px;
    margin-right: 10px;
    object-fit: contain;
    transition: transform 450ms;

}

.row_poster:hover,
.row_poster_large:hover {
    transform: scale(1.1);
}

.video_center {
    text-align: center;
    width: 100%;
}